@font-face{
  font-family:  'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf')
}


* {
  font-family: 'RobotoMono', monospace;
}


body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background: linear-gradient(to right, #34e89e, #0f3443);

}